# ODK Central — Produção
ODK_BASE_URL=https://mdocentral.ifrj.edu.br
ODK_USERNAME=seu-email@exemplo.com
ODK_PASSWORD=sua-senha

# NextAuth — gerar com: openssl rand -base64 32
NEXTAUTH_SECRET=coloque-um-secret-forte-aqui

# Debug opcional — true para logs detalhados
# DEBUG=true

HOST_NAME=mdodash.lucianoifmg.cloud